* {
    padding: 0;
    margin: 0;

}
.card-body {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    text-align: start;

}

.grid img {
    width: 40%;
    margin: 5px;
    /* overflow: hidden; */

}

.img-con {
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.btn-edit1 {
    background-color: #ffb326;
    color: #FFF;
}

.btn-edit {
    background-color: #435ebe;
    color: #FFF;
}

.btn-edit2 {
    background-color: #ffb326;
    color: #FFF;
}

.btn-save {
    background-color: rgb(52, 129, 52);
    color: #FFF;
    /* display: flex; */
    margin: 10px auto;
}

.btn-save1 {
    background-color: rgb(52, 129, 52);
    color: #FFF;
    display: flex;
    margin: 10px auto;
    margin: 0px;
}

.btn-save:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.group-pos {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.title-img {
    width: 50%;
    height: 370px;
    border: 2px solid #ccc;
    padding: 10px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
}

#upload-img {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
}

#gallery-cover {
    width: 90%;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    /* grid-template-columns: auto auto; */
    margin: 5px auto;
    /* border: 2px solid #ccc; */
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;
}

.box-edit-img-cover {
    /* background-color: #FFFFFF; */
    width: 85%;
    height: 230px;
    padding: 5px;
    margin: 10px auto;
    /* border: 2px solid #ccc; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.file-support {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #ff4122;
}

.reset {
    background-color: #ff4122;
    color: #FFFFFF;
    height: 35px;
    margin: 5px;
}

@media (max-width: 768px) {
    
    * {
        padding: 0;
        margin: 0;
    }
    
    
    .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .card-body {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .grid img {
        width: 40%;
        margin: 5px;
        overflow: hidden;

    }

    .img-con {
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    * {
        padding: 0;
        margin: 0;
    }

    .card-body {
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;

    }

    .grid img {
        width: 40%;
        margin: 5px;
        /* overflow: hidden; */

    }

    .img-con {
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}